:root {
    --clr-neon: hsl(317 100% 54%);
    --clr-bg: hsl(323 21% 16%);
    --clr-green: hsl(138, 100%, 49%)
  }
  
*,
*::before,
*::after {
    box-sizing: border-box;
  }
body{
    /* width: 99vw; */
    background: var(--clr-bg);
    font-family: "Balsamiq Sans", cursive;
    font-size: 16px;
    color: var(--clr-neon);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
}
button {
    margin: 0 10px;
    background: none;
}


video {
    vertical-align: top;
    --width: 80vh;
    width: var(--width);
    height: calc(var(--width) * 0.5625);
    margin: 20px;
    /* box-shadow: 0 0 0.45em hsl(0 0% 100% / 0.3); */
}
.record{
    display: none;
    height: calc(var(--width) * 0.5625);
    margin: 0 auto;
    margin-bottom: 20px;
}

canvas,
#recorded{
    display: none;
   
}

.none {
    -webkit-filter: none;
    filter: none;
}

.blur {
    -webkit-filter: blur(3px);
    filter: blur(3px);
}

.grayscale {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.invert {
    -webkit-filter: invert(1);
    filter: invert(1);
}

.sepia {
    -webkit-filter: sepia(1);
    filter: sepia(1);
}

  
#container {
    margin: 0 auto;
    max-width: 900px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}  
.neon-button {
    height: 3rem;
    font-family: "Balsamiq Sans", cursive;
    font-size: 1rem;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
  
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  
    position: relative;
  }
   
/* .neon-button::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--clr-neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
  
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
  } */


.neon-button::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-neon);
    z-index: -1;
    transition: opacity 100ms linear;
  }

select:hover,
select:focus,
.neon-button:hover,
.neon-button:focus {
    color: var(--clr-bg);
    background-color: var(--clr-neon);

    text-shadow: none;
  }

/* .neon-button:hover::before,
.neon-button:focus::before {
    opacity: 1;
  } */

.neon-button:hover::after,
.neon-button:focus::after {
    opacity: 1;
  }

.neon-button:disabled{
      opacity: 0.5;
  }
  
.green{
   color: var(--clr-green);
   border: var(--clr-green) 0.125em solid;
   box-shadow: inset 0 0 0.5em 0 var(--clr-green), 0 0 0.5em 0 var(--clr-green);
  }

/* .green::before{
    background: var(--clr-green);
  } */

.green::after{
    box-shadow: 0 0 2em 0.5em var(--clr-green);
    background-color: var(--clr-green);
  }

.green:hover,
.green:focus {
    color: var(--clr-bg);
    background-color: var(--clr-green);
  }

select{
    background: none; 
    outline: none;
    border: none;
    color: var(--clr-neon);
    font-family: "Balsamiq Sans", cursive;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;

  }
.filt{
 
   padding: 0.7rem; 

}

#download{
    display: block;
    text-decoration: none;
    padding: 0.7rem;    
}

.empty{
    opacity: 0.5;
}
  